<mat-toolbar class="topbar" color="primary">
  <button mat-icon-button (click)="toggleSidebar.emit()" aria-label="Toggle sidebar">
    <mat-icon>{{ sidebarOpen ? 'menu_open' : 'menu' }}</mat-icon>
  </button>

  <span class="app-title">
    <mat-icon class="brand-icon">local_cafe</mat-icon>
    <span class="brand-text">MDP Coffee</span>
  </span>

  <span class="mdp-spacer"></span>

  <!-- Location selector -->
  <ng-container *ngIf="locations$ | async as locations">
    <ng-container *ngIf="locations.length > 1">
      <mat-select
        [value]="activeLocationId$ | async"
        (selectionChange)="onLocationChange($event.value)"
        class="location-select">
        <mat-option *ngFor="let loc of locations" [value]="loc.id">
          <mat-icon>store</mat-icon> {{ loc.name }}
        </mat-option>
      </mat-select>
    </ng-container>
    <ng-container *ngIf="locations.length === 1">
      <span class="location-label">
        <mat-icon>store</mat-icon>
        {{ locations[0].name }}
      </span>
    </ng-container>
  </ng-container>

  <!-- User menu -->
  <ng-container *ngIf="currentUser$ | async as user">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
      <div class="avatar">{{ getInitials(user) }}</div>
      <span class="user-name">{{ user.firstName }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <div class="user-menu-header" mat-menu-item disabled>
        <strong>{{ user.firstName }} {{ user.lastName }}</strong>
        <small>{{ user.roles[0] }}</small>
      </div>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <mat-divider></mat-divider>
        <a mat-menu-item [routerLink]="'/hr/employees/' + ((currentUser$ | async)?.id)">
            <mat-icon>person</mat-icon>
            My Profile
        </a>
      <button mat-menu-item (click)="logoutClick.emit()">
        <mat-icon>logout</mat-icon> Sign Out
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
