<div class="filter-bar" [formGroup]="filterForm" *ngIf="filterForm">
  <ng-container *ngFor="let attr of filterAttributes">
    <!-- Enum filter -->
    <mat-form-field *ngIf="isEnum(attr)" appearance="outline" class="filter-field">
      <mat-label>{{ attr.label }}</mat-label>
      <mat-select [formControlName]="attr.name">
        <mat-option [value]="null">All</mat-option>
        <mat-option *ngFor="let opt of attr.enumValues" [value]="opt.value">{{ opt.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Date filter -->
    <mat-form-field *ngIf="isDate(attr)" appearance="outline" class="filter-field">
      <mat-label>{{ attr.label }}</mat-label>
      <input matInput [matDatepicker]="fp" [formControlName]="attr.name">
      <mat-datepicker-toggle matSuffix [for]="fp"></mat-datepicker-toggle>
      <mat-datepicker #fp></mat-datepicker>
    </mat-form-field>

    <!-- Boolean filter -->
    <mat-form-field *ngIf="isBool(attr)" appearance="outline" class="filter-field filter-field-sm">
      <mat-label>{{ attr.label }}</mat-label>
      <mat-select [formControlName]="attr.name">
        <mat-option [value]="null">All</mat-option>
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Text filter -->
    <mat-form-field *ngIf="isText(attr)" appearance="outline" class="filter-field">
      <mat-label>{{ attr.label }}</mat-label>
      <input matInput [formControlName]="attr.name" [placeholder]="'Search ' + attr.label">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </ng-container>

  <button *ngIf="filterAttributes.length" mat-icon-button matTooltip="Reset filters" (click)="reset()">
    <mat-icon>filter_alt_off</mat-icon>
  </button>
</div>
